
<h1>Hello Register for an account</h1>

<form method="POST" action="/register">

  <label for="user_name">User Name</label>
  <input type="text" name="user_name" />
  <label for="password">Password</label>
  <input type="password" name="password" />

  <input type="submit" />

</form>

<h1>Login with your account</h1>

<form method="POST" action="/login">

  <label for="user_name">User Name</label>
  <input type="text" name="user_name" />
  <label for="password">Password</label>
  <input type="password" name="password" />

  <input type="submit" />

</form>